
  <%- include('./partials/top.ejs') %>
  <% if(error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/" method="post">
    <label>Email</label> <br>
    <input type="email" name="email"><br><br>
    <label>Password</label> <br>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Submit">
    <a href="/register">register</a>
  </form>
<hr>
  <p>applikasi web onDemands ini diharapkan dapat menjembatani para free lancer yang bergerak di bidang seni photographer, videographer dan illustrator dengan masyarakat umum yang dapat memakai jasa mereka dalam moment ata event tertentu untuk mengabadikan kenangan</p>
</body>
</html>